<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.olgacoll.airmns">

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_action_menu"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_action_info"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".LoginActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Activities Olga -->
        <activity android:name=".SignupActivity" />
        <activity android:name=".MainActivity" />
        <activity android:name=".EditProfileActivity"/>
        <activity android:name=".EditAddressActivity"/>
        <activity android:name=".InfoActivity"/>

        <!-- Activities Eric -->
        <activity android:name=".Activity3AMainUser"/>
        <activity android:name=".Activity3BMainProfessional"/>
        <activity android:name=".Activity4EditProfile"/>
        <activity android:name=".Activity5Reserve"/>
    </application>
</manifest>